.app {
  height: 100vh;
  width: 480px;
  background-color: white;
  box-shadow:
  0px 2.8px 2.2px rgba(0, 0, 0, 0.02),
  0px 6.7px 5.3px rgba(0, 0, 0, 0.028),
  0px 12.5px 10px rgba(0, 0, 0, 0.035),
  0px 22.3px 17.9px rgba(0, 0, 0, 0.042),
  0px 41.8px 33.4px rgba(0, 0, 0, 0.05),
  0px 100px 80px rgba(0, 0, 0, 0.07)
;

}
.window{
  padding:1rem;
  display:flex;
  flex-direction:column;
}

h1{
  text-align: center;
  margin: 0;
}

ul{
  margin:0;
}
p{
  margin-bottom: 1rem;
}