.container{
    padding: 5px 2rem;
    display: grid;    
    grid-template-rows: auto;
    grid-template-columns: auto 100px;
    grid-template-areas: "name hobby"
    "address btn";
    row-gap: 2px;
}

.container > *{
    display: flex;
    text-align: center;
    align-items: center;
}
.name{
    grid-area: name;
    text-align: left;
    font-size: large;
    font-weight: 500;
}
.btn{
    display: flex;
    grid-area: btn;
    justify-content: center;
    gap:10px;
}
.address{
    grid-area: address;
    text-align: left;
}

.hobby{
    font-size: large;
    font-weight: 500;
    grid-area: hobby;
    text-align: center;
    align-items: center;
    justify-content: center;
}